<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">blockView</a>
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home </a>
        </li>
        <li *ngIf='email!=""' class="nav-item active">
          <a class="nav-link" href="/files">Files</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/about">About</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/view">View</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/register">Register</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/reset-password">Reset Password</a>-->
<!--        </li>-->
      </ul>
      <p style="margin-bottom:0px;" class="nav-link" href="">{{email}}</p>-->
      <form  *ngIf='email!=""' (ngSubmit)="onSubmit()">
        <button type="submit" class="btn btn-primary">Log Out <i class="fas fa-sign-in-alt"></i></button>
      </form>
      <a *ngIf='email==""' href="/login">
        <button type="submit" class="btn btn-primary">Log In <i class="fas fa-sign-in-alt"></i></button>
      </a>
    </div>
  </div>
</nav>


