
<div class="container" style="padding-top: 2%" >
  <div class="p-5 mb-4 bg-light rounded-3" style='height:500px; background-image: url("../../../assets/photos/blockStock.jpg")'>
    <div class="container-fluid py-5" style="color:white">
      <h1 class="display-5 fw-bold">Welcome to blockView</h1>
      <p class="col-md-8 fs-4">A simple and secure file transfer site, which monitors and tracks actions taken around a file using a blockchain data structure.</p>
<!--      <button class="btn btn-primary btn-lg" type="button">Example button</button>-->
    </div>
  </div>
</div>

<!--<div class="jumbotron jumbotron-fluid" style=''>-->
<!--  <div class="container">-->
<!--    <h1 class="display-4">Fluid jumbotron</h1>-->
<!--    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->
<!--  </div>-->
<!--</div>-->

